{% extends 'final.html.twig' %}

{% block main %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h1>Tu cuenta esta desactivada.</h1>
            <p>Su cuenta esta desactivada ya que el administrador puso su cuenta como inactiva.</p>
            <p>Contacte con el administrador del spa para arreglar el problema y poder <strong>activar su
                    cuenta</strong></p>
        </div>
    </div>
{% endblock %}
