{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block footer %}{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h4>Estas conectado al sistema con {{ app.user.username }}</h4>
                <h5>Roles del usuario:</h5>
                <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>ROLE_ADMIN</li>
                    {% endif %}
                    {% if is_granted('ROLE_ESPECIALISTA') %}
                        <li>ROLE_ESPECIALISTA</li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                        <li>ROLE_MANAGER</li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
