{% extends 'final.html.twig' %}

{% block main %}
    <div class="container">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        {% if is_granted('ROLE_ADMIN') %}
                            <h2>Administracion de equipo</h2>
                        {% else %}
                            <h2>Ver equipos</h2>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if is_granted('ROLE_ADMIN') %}
                            <!-- Boton nuevo equipo -->
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="{{ path('equipo_create') }}">
                                        <div class="btn btn-primary btn-lg btn-block">Nuevo equipo
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Tabla de equipos -->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <th>Seleccionar</th>
                        <th>Nombre</th>
                        </thead>
                        {% for equipo in equipos %}
                            <tr>
                                <td class="text-center"><a href="{{ path('equipo_show', { id: equipo.id }) }}"><span
                                                class="glyphicon glyphicon-edit"
                                                aria-hidden="true"></span></a></td>
                                <td>{{ equipo.nombre }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>


            </div>
        </div>
    </div>
{% endblock %}